<%= link_to approvals_path do %>
    <button class="links-button with-text danger-button"><i class="fa fa-arrow-left"></i> Back</button>
<% end %>


<div class="help-container" style="line-height: 2em">
    <h1>Approvals Help:</h1>
    <p style="font-style: italic">The approvals page allows you to see all users, rejected users, and pending users. You can toggle admin status of users, accept or reject pending profiles.</p><br />

    <h2>Toggling an admin:</h2>
    To toggle a user into an admin or vice versa, click the <span class= "view-button" style="margin-top: 16px;"><i class="fas"></i> Admin Toggler</span> beside the respective user<br />

    <hr />

    <h2 style="margin-top: 0.75em">Approving a User:</h2>
    To approve a user profile, click the <span class= "view-button" style="margin-top: 16px;"><i class="fas"></i> Approve</span> beside the respective user<br />
    <hr />

    <h2 style="margin-top: 0.75em">Declining a User:</h2>
    To decline a user profile, click the <span class= "view-button" style="margin-top: 16px;"><i class="fas"></i> Decline</span> beside the respective user<br />
    <hr />

    <h2 style="margin-top: 0.75em">Finding all Users:</h2>
    To see all user profiles, click the <span class= "view-button" style="margin-top: 16px;"><i class="fas"></i> Show All Users</span> in the main approvals page<br />
    <hr />
    <h2 style="margin-top: 0.75em">Finding rejected Users:</h2>
    To see only rejected user profiles, click the <span class= "view-button" style="margin-top: 16px;"><i class="fas"></i> Show Rejected Users</span> in the main approvals page. In this page, once rejected accounts can be reactivated if so wished.<br />
</div>