<div id="prayer-request-show">

<div id="<%= dom_id meeting_note %>">
  <p class="prayer-request-request">
    <strong>Title:</strong>
    <%= meeting_note.title %>
  </p>

  <p class="prayer-request-request">
    <strong>Content:</strong>
    <%= meeting_note.content %>
  </p>

  <p class="prayer-request-request">
    <strong>Date:</strong>
    <%= meeting_note.date %>
  </p>

 

</div>
