<div class ="hero">
<h1>Editing meeting note</h1>

<%= render "form", meeting_note: @meeting_note %>

<br>

<div>

  <%= link_to "Show this meeting note", @meeting_note %> |
  <%= link_to "Back to meeting notes", meeting_notes_path %>
</div>

</div>