<%= link_to meeting_notes_path do %>
    <button class="links-button with-text danger-button"><i class="fa fa-arrow-left"></i> Back</button>
<% end %>

<div class="help-container" style="line-height: 2em">
    <h1>Meeting Notes Help:</h1>
    <p style="font-style: italic">This page allows the admin to create meeting notes and the users to see all the meeting notes.</p><br />

    <h2>Creating a new meeting note:</h2>
    To create a new meeting note first, click the <span class= "success-button links-button with-text cursor-pointer" style="margin-top: 16px;"><i class="fas fa-plus"></i> New Meeting Note</span> button at the bottom of the page first.<br />
    <br />
    Afterwards in the new meeting notes page, put in the title, content, date and press the  <span class= "links-button neutral-button button-group-right cursor-pointer" style="margin-top: 16px;"><i class="fas"></i> Create Meeting Note</span> button<br />
    <hr />

    <h2 style="margin-top: 0.75em">Editing a meeting note:</h2>
    To edit a meeting note, click the <span class="links-button neutral-button" style="margin-top: 16px;"><i class="fas fa-edit"></i></span> button next to the link you want to edit.<br />
    <hr />

    <h2 style="margin-top: 0.75em">Deleting a Meeting note:</h2>
To delete a meeting note, click the <span class="links-button danger-button" style="margin-top: 16px;"><i class="fas fa-trash-alt"></i></span> button next to the link you want to delete.<br />    <hr />

</div>