<h1>Meeting notes</h1>
<%= link_to "Back to Directory", current_user %>
<div id="meeting_notes">
  <% @meeting_notes.each do |meeting_note| %>
    <%= render meeting_note %>
    <p>
      <% if current_user && current_user.is_admin? %>
        <%= link_to "Show this meeting note", meeting_note %>
      <%end%>
    </p>
  <% end %>
</div>
<% if current_user && current_user.is_admin? %>
  <%= link_to "New meeting note", new_meeting_note_path %>
<%end%>
