<!-- Render user bar -->
<%= render partial: "shared/user_bar" %>

<h1>New meeting note</h1>

<%= render "form", meeting_note: @meeting_note %>

<br>

<div>
  <%= link_to "Back to meeting notes", meeting_notes_path %>
</div>
