<div class = "hero">
<%= render @meeting_note %>


<div class="button-group">
    <%= link_to meeting_notes_path do %>
      <button class="links-button with-text danger-button button-group-left cursor-pointer"><i class="fa fa-arrow-left"></i> Back</button>
    <% end %>
  </div>

</div>
