<div id="<%= dom_id prayer_request %>">
  <p>
    <strong>Request:</strong>
    <%= prayer_request.request %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= prayer_request.status %>
  </p>

  <p>
    <strong>Alumni:</strong>
    <%= prayer_request.alumni_id %>
  </p>

</div>
