<h1>Editing prayer request</h1>

<%= render "form", prayer_request: @prayer_request %>

<br>

<div>
  <%= link_to "Show this prayer request", @prayer_request %> |
  <%= link_to "Back to prayer requests", prayer_requests_path %>
</div>
