<!-- Render user bar -->
<%= render partial: "shared/user_bar" %>

<h1>Editing alumni</h1>

<%= render "form", alumni: @alumni %>

<br>

<div>
  <%= link_to "Show this alumni", @alumni %> |
  <%= link_to "Back to alumnis", alumnis_path %>
</div>
