<div class="margins">
  <% if current_user.user_first_name.nil? %>
    <h1>Create Profile</h1>
  <% else %>
    <h1>Edit User</h1>
  <% end %>

  <%= render "form", user: @user %>

  <br>
  <p class="margins", style="color: black;"> Note: Fields that are not required can be made private in your profile settings if you do not wish other users to see this information. </p>
</div>
