<%= link_to user_path(current_user) do %>
  <button class="view-button"><i class="fa fa-arrow-left"></i> Back</button>
<% end %>

<div class="help-container" style="line-height: 2em">
  <h1>Profile Help:</h1>
  <p style="font-style: italic">The profile page displays your information how it appears to others and allows you to add, edit, remove, and make private your personal information. It also allows you to upload a profile picture.</p><br />

  <h2>Editing your Profile:</h2>
  To add/edit information about yourself, click the <span class="view-button">Edit Profile</span> button on your profile page. Once the information is entered/updated, click the <span class="view-button">Save Profile</span> button at the bottom.<br />

  <hr />

  <h2 style="margin-top: 0.75em">Editing your Privacy Settings:</h2>
  To edit what information fields you want other users to see, click the <span class="view-button">Privacy Settings</span> button on your profile page. You can check the boxes next to the fields you want to be private and then click the <span class="view-button">Save Privacy Settings</span> button to save the settings.<br />
  
  <hr />

  <h2 style="margin-top: 0.75em">Uploading a Profile Picture:</h2>
  To upload a profile picture to your account, so other users can see who youare, click the <span class="view-button">Upload Profile Picture</span> button on your profile page. From here, click the "Choose File" button and choose an image from your computer. Then click <span class="view-button">Upload Image</span> button to save it.<br />

  <hr />

  <h2 style="margin-top: 0.75em">Deleting your Profile:</h2>
  If you want to delete your profile and remove it from the system, you can click the <span class="view-button">Delete Profile</span> button and you will be prompted with a confirmation pop-up. If you want to continue and delete your profile, click "Yes" on the pop-up. This will permanently delete your profile and it cannot be undone. If you want to access the alumni directory again, you will have to create a new account and go through the approval process again.<br />
</div>