<%= link_to search_user_path do %>
  <button class="view-button"><i class="fa fa-arrow-left"></i> Back</button>
<% end %>

<div class="help-container" style="line-height: 2em">
  <h1>Search Help:</h1>
  <p style="font-style: italic">The search page allows you to search for users by their name, class year, major, and current city.</p><br />

  <h2>Searching for Users:</h2>
  You can search for a user by filling out any of the fields on the search page and clicking the 'Search' button. You do not have to fill out all of them. If you just fill out a single field, it will search for users just based on that field. If you fill out multiple fields, it will only display users who meet ALL the criteria you entered.<br />
 
</div>