<%= link_to links_path do %>
    <button class="links-button with-text danger-button"><i class="fa fa-arrow-left"></i> Back</button>
<% end %>

<div class="help-container" style="line-height: 2em">
    <h1>Links Help:</h1>
    <p style="font-style: italic">The links page allows you to add/edit/remove links from the navigation bar above.</p><br />

    <h2>Adding a Link:</h2>
    To add a link, click the <span class="links-button success-button with-text" style="margin-top: 16px;"><i class="fas fa-plus"></i> Add Link</span> button at the top of the page.<br />

    <hr />

    <h2 style="margin-top: 0.75em">Editing a Link:</h2>
    To edit a link, click the <span class="links-button neutral-button" style="margin-top: 16px;"><i class="fas fa-edit"></i></span> button next to the link you want to edit.<br />
    
    <hr />

    <h2 style="margin-top: 0.75em">Deleting a Link:</h2>
    To delete a link, click the <span class="links-button danger-button" style="margin-top: 16px;"><i class="fas fa-trash-alt"></i></span> button next to the link you want to delete.<br />

    <hr />

    <h2 style="margin-top: 0.75em">Reordering Links:</h2>
    To reorder links, click the <span class="links-button neutral-button" style="margin-top: 16px;"><i class="fas fa-arrow-up"></i></span> and <span class="links-button neutral-button" style="margin-top: 16px;"><i class="fas fa-arrow-down"></i></span> buttons next to the link you want to move.<br />
</div>