<%= link_to links_path do %>
    <button class="links-button with-text danger-button"><i class="fa fa-arrow-left"></i> Back</button>
<% end %>

<div class="help-container" style="line-height: 2em">
    <h1>Links Help:</h1>
    The links feature (accessible from the <strong>Links</strong> tab) allows you to add links to the navigation bar above.<br />
    To add a link, click the <span class="links-button success-button with-text" style="margin-top: 16px;"><i class="fas fa-plus"></i> Add Link</span> button.<br />
    You will be taken to a form where you can enter the link's information. 
</div>