.hero {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

table#links {
  display: table;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-collapse: collapse;
}

table#links td, table#links th {
  border-bottom: solid 1px #ddd;
  text-align: left;
  padding: 1em;
}

table#links th {
  border-bottom-width: 2px !important;
}

.up-down {
  display: flex;
}