

.user-bar {
  align-items: center;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  background: #500000;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.quick-links {
  align-items: center;
  display: flex;
  gap: 30px;
}

.quick-links a {
  color: #fff;
  font-family: sans-serif;
  font-size: 14pt;
  text-decoration: none;
  text-transform: uppercase;
}

.quick-links a:hover {
  color: #666666;
}

.quick-links a:active {
  color: #800000;
}

.login-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

/* Navbar Layout */
.navbar {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  height: 5em;
  width: 100vw;
  margin-bottom: 0.75em;
}

.navbar .navbar-left, .navbar .navbar-right {
  width: 50vw;
}

.navbar-left {
  align-items: center;
  display: flex;
  justify-content: left;
  padding-left: 1em;
}

.navbar-mid {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar-right {
  align-items: center;
  display: flex;
  justify-content: right;
  padding-right: 1em;
}

/* Navbar Components */
a.navbar-link {
  color: #736f6f;
  font-size: 14px;
  text-transform: uppercase;
}

a.navbar-link:hover {
  color: #500000;
  font-weight: bold;
}

.navbar-logo {
  background: url(https://lirp.cdn-website.com/49b47ae5/dms3rep/multi/opt/Layer_1-120w.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 4em;
  height: 4em;
}