/* General Styles */
.hidden {
  display: none;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-margin-sides {
  margin-left: 5px;
  margin-right: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded Sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Prayer Request Table Styles */
#prayer-request-option-bar {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#prayer-request-table {
  display: table;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-collapse: collapse;
  width: 80vw;
  margin-top: 0.5em;
  border-spacing: 0;
}

#prayer-request-table thead {
  border-bottom: solid 2px #ddd;
}

#prayer-request-table tr {
  border-bottom: solid 1px #ddd;
}

#prayer-request-table th {
  border-bottom-width: 2px !important;
}

.align-left {
  text-align: left;
  padding: 1em;
}

.align-center {
  text-align: center;
  padding: 1em;
}

.small-col {
  width: 5%;
}

.med-col {
  width: 15%;
}

/* Prayer Request Buttons and Icons */
.prayer-request-button {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5em;
  color: white;
  padding: 0.75em 1em;
  font-weight: bold;
  font-size: 11pt;
  outline: none;
}

.prayer-request-author-icon-link {
  display: flex;
  align-items: center;
}

.prayer-request-author-icon {
  height: 2em;
  width: 2em;
  margin-right: 0.75em;
}

.fa-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Styled Text Box */
.styled-text-box {
  width: 600px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  resize: none; /* Prevent text box resizing by the user */
}

.styled-text-box:focus {
  border-color: #007bff; /* Change to your preferred focus color */
}

.styled-text-box::placeholder {
  color: #999; /* Change to your preferred placeholder text color */
}

/* Prayer Request Show Styles */
#prayer-request-show {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
}

#prayer-request-show p strong {
  color: #007bff;
}

.prayer-request-request {
  font-size: 18px;
  margin-bottom: 18px;
  line-height: 1.2; /* Line height for readability */
  white-space: pre-line; /* Preserve line breaks in text */
}
