<%= form_with(model: @image, url: images_path, local: true, multipart: true) do |form| %>
  <div class="form-group">
    <%= form.label :file, 'Choose an image' %>
    <%= form.file_field :file, class: 'form-control' %>
  </div>
  <%= form.submit 'Upload Image', class: 'btn btn-primary' %>
<% end %>
